:root {
  --background-color: #ddd;

  --button-border-color: var(--text-color);

  --link-color: var(--text-color);

  --text-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;

    --button-border-color: var(--text-color);

    --link-color: var(--text-color);

    --text-color: #ddd;
  }
}
