:root {
  --background-color: #ddd;

  --text-color: #333;

  --link-color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;

    --text-color: #ddd;

    --link-color: var(--text-color);
  }
}
